@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Gupter:wght@400;500;700&family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    height: auto;
    width: 100%;
    background-color: #fff6f6;
    overflow-x: hidden;
    
}

body {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    color: rgb(20, 15, 55);
    margin: 0;
    padding: 0;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
   
}


.flying-image {
    position: absolute;
    top: 40px; 
    right: -200px;
    width: 50px; 
    height: auto;
    animation: fly-across 5s linear infinite;
    z-index: 10;
}

@keyframes fly-across {
    0% {
        right: -200px; 
        top: 180px;
    }
    25% {
        right: 25%;
        top: 150px;
    }
    50% {
        right: 50%; 
        top: px;
    }
    75% {
        right: 75%; 
        top: 140px;
    }
    100% {
        right: 100vw;
        top: 120px;
    }
}

header {
    background-color: #fcb2a9;
    padding: 1rem 0;
    height:85px;
    border-bottom: 2px solid black;
    box-shadow: 5px;
}

.flowers {
    height: 170px;
    width: 180%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -15px;
    left: -35%;
    
    
    
}

.overlay-text {
    pointer-events: auto;
    position: relative;
    top: -19.5vh;
    color: white; 
    font-size: 1.5rem;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    width: 100%; 
    opacity: 0.9;
    
}

#titleText {
    font-family: 'Alex Brush', cursive;
    font-weight: 400;
    font-size: 250%;
    
}

.nav-item {
    pointer-events: none;
}

#galleryText .overlay-text {
   
   text-wrap: nowrap;

}

nav li {
    position: relative;
    margin: 0;
    padding: 0;
    width: 17.5%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    text-align: center;
    width: 100vw;
    margin: 0;
    margin-left: 10vw;
    padding: 0;
    height: 13vh;
    
}

nav ul li {
    margin: 0 1rem;
    background-color: #f1aca3;
    border-radius: 3px;
    border: 1px solid rgb(211, 48, 84); 
    border-top: none; 

}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

nav a:hover .overlay-text {
    color: #333
}

#cupid {
    height: 75px;
    margin-left: 27vw;
    position: relative;
    top: -50vh;
    
    
}

section {
    padding: 2rem;
    text-align: center;
}

#countdown {
    font-size: 3.5rem;
    margin-top: 4rem;
    color: #68c8e8;
    font-family: 'Franklin Gothic Medium', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#proposal {
    height: calc(105vh - 2px);
    position: relative;
    left: 28vw;
    top: -2vh;
    margin-top: 2rem;
    z-index: 1; 
                    
}

.proposalSubtext {
    position: relative;
    margin-left: 55vw;
    top: -4vh;
}

.first {
    position: relative;
    left: 0vw;
    width: 56vw;
    top: -115vh;
    z-index: 5;
    color: rgb(222, 212, 212);
    mix-blend-mode: difference;
    background-color: #023a419d;
    overflow: hidden;
    border: 7px solid rgb(255, 255, 255);
    border-right: 5px solid white;
    height: 85vh;
    padding-top: 15vh;
    padding-bottom: 3vh;
    box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.796);
}

.first h1, .first h2, .first p {
    margin: 0;
    padding: 0.5rem 0;
}

.imageScroller {
    
    height: 20vh;
    width: 60vw;
    margin-left: 15vw;
    background-color: black;
    overflow: hidden;
    display: flex;
    cursor: e-resize;
    user-select: none;
    align-items: center;
    padding: 0 40px;
    transition: transform 1s;
    scroll-behavior: smooth;    
}

.imageScroller .image {
    height: 115px;
    max-height: 80%;
    width: auto;
    flex-shrink: 0;
    margin-right: 30px;
    object-fit: cover;
    object-position: right center;
    transition: transform 1s ease-in-out; 
    scroll-behavior: smooth;
   }

   .imageScroller img:hover {
    transform: scale(1.2); 
}

.imageScroller::before,
.imageScroller::after {
    content: '';
    display: block;
    width: 60px; 
    flex-shrink: 0; 
}

.imageWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
}

#about {
    height: 145vh;
}

#us {
    text-align: center;
    
}

#theEvent {
    height: 500px;
}

#gallery {
    height: 500px;
}

#home {
    height: 130vh;
    
}

section.imgsec {
    background-color: rgba(227, 146, 159, 0.834);
    height: 200px;
    padding-top: 60px;
    margin-top: -200px;
    border-top: 2px solid black
}